* {
  font-family: 'Poppins', sans-serif;
}

.navBar {
  color: #344960;
}
.about-team {
  color: #344960;
  text-align: center;
}

.Home {
  color: #344960;
  margin: 'auto';
  text-align: center;
  margin-top: 300px;
}
form {
  max-width: 500px;
  margin: auto;
  margin-bottom: 355px;
}
.about-app {
  color: #344960;
}

.book {
  background-color: #ddc9be;
}

.book-of-day {
  margin-top: 75px;
}
