* {
  font-family: 'Poppins', sans-serif;
}

.about {
  padding-bottom: 10rem;
}
.navBar {
  color: #344960;
}
.about-team {
  color: #344960;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
}

.Home {
  color: #344960;
  margin: 'auto';
  text-align: center;
  margin-top: 300px;
}
form {
  max-width: 500px;
  margin: auto;
  margin-bottom: 355px;
}
.about-app {
  color: #344960;
  border: saddlebrown solid 10px;
}

.book {
  background-color: #ddc9be;
}

.book-of-day {
  margin-top: 75px;
}

/* 
.book {
  display: grid;
}

.book-image {
  grid-row: 1 / 2;
  grid-column: 1;
}

.book-details {
  grid-row: 1 / 2;
  grid-column: 2;
}

.book-description {
  grid-row: 3;
  grid-column: 1 / 2;
} */
